footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 36px;
}

.footer-links {
    display: flex;
    gap: 16px;
}

.footer-links a {
    text-decoration: none;
    color: #6C6C6C;
}
