.container {
    max-width: 1280px;
    margin-inline: auto;
}

h1 {
    color: #313131;
}

p {
    color: #6C6C6C;
}

@media (max-width: 928px) {
    .container {
        margin: 10px !important;
    }
}
